.box {
  border: 1px solid black;
  width: 500px;
  margin: 20px;
  text-align: center;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

@media (max-width: 600px) {
  .box {
    width: 100%;
    margin: 10px;
  }

  .item-img {
    width: 100%;
  }
}
